/* .heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
} 

.porsche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0px 35px 35px 35px;
    width: 100%;
}

.porsche img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media(max-width: 800px){
    .layout-latestwork{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px 30px 30px;
        gap: 35px;
    }

    .image{
        width: 100%;
        height: auto;
    }

    .layout-recentwork{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px 30px 30px;
        gap: 35px;
        background-color: black;
    }
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    padding-top: 59px;
}

.heading h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    text-align: center;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    gap: 30px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 800px){
    .row{
        flex-direction: column;
    }

    .gallery{
        margin: 10px 50px;
    }
}