/* GLOBAL */

body{
    background-color: #212121;
}

*{
    margin: 0;
    padding: 0;
    /* background-color: mintcream; */
    font-family: monospace;
}

/* NAVIGATION */

nav{
    background-color: black;
    opacity: 100%;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;

}

/* nav li{
    padding: 50px;
} */

nav a{
    font-family: monospace;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .exit3{
    padding: 0 15px;
}

nav a:hover{
    background-color: #00ADB5;
    transform: scale(1.03);
    transition: ease-out.2s;
}

.x{
    height: 27px;
}




/*-- Sidebar --*/

.navigationbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    color: white;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.centerit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-button{
    display: none;
}

.menu{
    width: 26px;
}

.svg{
    fill: white;
}

@media(max-width: 800px){
    .hideonMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    nav .exit{
        padding: 0 30px;
    }
}
@media(max-width: 400px){
    .navigationbar{
        width: 100%;
    }
}


form{
    color: white;
    padding-top: 20%;
}


