/* .whoami{
    display: block;
    padding: 10px;
    text-align: left;
    height: 100vh;
    position:relative; 
} */

.whoami{
    background-image: url(../Images/M4C\,\ Simon\,\ 2024.jpg);
    padding-top: 42px;
    height: 100vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 95.5vh;
}

.whoamitext{
    /* padding: 120px 220px; */
    width: 80vh;
    padding: 20px;
    color: black;
    padding-top: 50px;
}

.whoamitext h1, h3{
    padding: 8px;
    padding-left: 35px;
}

.whoamitext .whoamitext3{
    padding-left: 240px;
}


@media(max-width: 800px){
    .whoami{
        background-position: center;
    }
    .whoamitext{
        width: 0%;
    }
    .whoamitext .whoamitext3{
        padding-left: 0px;
    }
}

/* h1{
    padding-top: 10px;
    padding-left: 10px;
} */