

.journal{
    padding-top: 45px;
}

.journal h1,p {
    text-decoration: none;
    color: white;
}

.journal h1{
    padding-top: 10px;
}

.journal a{
    text-decoration: none;
}

.journal p{
    padding: 5px 10px 10px 0px;
}

.journal .insidejournal{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 59px;
    grid-row-gap: 49px;
    grid-auto-rows: min-content;
    margin: 59px;
}

.thepursuitofbuilding img{
    width: 100%;
}

.thepursuitofbuilding p, h1{
    padding-left: 15px;
}

.thepursuitofbuilding:hover{
    transform: scale(1.03);
    transition: ease-out.2s;
    background-color: #00ADB5;
}

@media(max-width: 800px){
    .journal .insidejournal{
        display: flex;
        flex-direction: column;
        margin: 40px;
        grid-row-gap: 20px;
    }
    .journal h1{
        font-size: 20px;
        text-decoration: none;
    }
    .journal p{
        font-size: 10px;
        text-decoration: none;
    }
}