.writing{
    margin: 50px;
    margin: 0 17%;
    padding-top: 50px;
    width: auto;
}

.writing h1, p{
    color: white;
    text-decoration: none;
}

.writing p{
    font-size: 15px;
    text-align: left;
    padding-bottom: 45px;
    max-width: fit-content;
}

.writing a{
    /* display: none; */
    color: lightpink;
    text-decoration: none;
}

.writing img{
    width: 100%;
    height: auto;
}

@media(max-width: 800px){
    .writing{
        margin: 0 30px;
        text-align: left;
    }

    .writing h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .writing p{
        font-size: 12px;
        hyphens: none;
    }
}